/* Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-arrows[type=number] {
  -moz-appearance: textfield;
}

.navbar-brand {
  color: white !important;
}

.nav-item .nav-link {
  color: lightgrey !important;
}

.nav-item .active {
  color: white !important;
}

.balance-red {
  background-color: red !important;
}

.balance-green {
  background-color: green !important;
}

.input-group-sm {
  width: 80%;
}

.input-group-text {
  width: 80px;       /* same width for all spans */
  justify-content: center; /* optional: center text horizontally */
}