<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Finanças</h1>
    <div class="col-sm-1">
        <div class="mb-3">
            <label class="form-label" for="income">Salário:</label>
            <input id="income" name="income" type="number" class="form-control" value=<%=finance.income %>
            aria-label="Salario">
        </div>
    </div>
</div>

<script>
    document.getElementById("income").addEventListener("input", async (event) => {
        const newIncome = event.target.value;
        try{
            const res = await fetch('/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ key: 'income', value: newIncome })
            });

            if (!res.ok) throw new Error(`HTTP error! status: ${res.status}`);

            const data = await res.json();
            console.log('Server response:', data);
        } catch (err) {
            console.error('Fetch failed:', err);
        }
    });
</script>